{% extends 'base.html' %}

{% block title %}
  Избранные посты
{% endblock title %}

{% block content %}
  {% load cache %}

  {% cache 20 follow_page request.user.username %}
  <!-- класс py-5 создает отступы сверху и снизу блока -->
  <div class="container py-5">     
    <h1>Избранные посты</h1>
    {% include 'posts/includes/switcher.html' %}
    {% for post in page_obj %}
      <article>
        {% include 'includes/post.html' %}
      </article>
        {% if post.group %}
          <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
        {% endif %}
      {% if not forloop.last %}<hr>{% endif %}
      <!-- под последним постом нет линии -->
    {% endfor %}
    <!-- добавляем навигацию по страницам -->
    {% include 'posts/includes/paginator.html'%}
  </div>
  {% endcache %}
{% endblock content %}